<body background="http://wanderingtummy.com/wp-content/uploads/2014/04/cropped-fine-dining-background.jpg">

<center>
<p><font size="50" style="font-family:Comic Sans MS;color:#1D1D1A;text-shadow:30;">Order Zone..!</font></p>
<br/><br/><br/>
<br/><br/><br/>
<div class="container">
	<div class="row">
		<!-- <div class="col-sm-4"> -->
		<a href="#">
			<img src="https://cdn0.iconfinder.com/data/icons/sweets-and-candy/512/Sweets-09-512.png" style="height:250px;width:250px;"/>
		</a> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
	<!-- </div> -->
	<!-- <div class="col-sm-4"> -->
		<a href="#">
			<img src="https://cdn.hellofresh.com/us/cms/lentil/delicious/delicious-hiw-3.svg" style="height:250px;width:250px;"/>
		</a> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
	<!-- </div> -->
	<!-- <div class="col-sm-4"> -->
		<a href="#">
			<img src="https://cdn0.iconfinder.com/data/icons/cartoon-food/512/Food_512-18.png" style="height:250px;width:250px;"/>
		</a>
	<!-- </div> -->
	</div>	
</div>
</center>
</body>>